body {
	font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
		background-color: #f6f6f6;
}

.not-upgraded-text {
	display: none;
}
ul {
	margin-bottom: 0px;
}
.mall1-holder {
	margin-top: 10px;
	max-width: 855px;
	min-height: 850px;
	margin-bottom: 50px;
	border: 1px solid #e6e6e6;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.samarbete_logo_holder {
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #43526E;
	margin-top: 20px;
	padding-bottom: 15px;
}
.samarbete_logo_inner {
	width: 85px;
	margin: auto;
}
.samarbete_logo_holder img {
	width: 100%;
	height: auto;
}

.onlinecv-head-inner {
	width: 100%;
	text-align: center;
	letter-spacing: 1.5px;
	margin-bottom: 60px;
}
.onlinecv-head-inner h1 {
	margin-top: 0px;
	padding-top: 40px;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 300;
}
.onlinecv-head-inner h4 {
	font-size: 20px;
	margin-top: 0px;
	font-weight: 300;
}
.mall1-main-section-holder::after {
    content: "";
    clear: both;
    display: table;
}
.mall1-main-left {
	float: left;
	width: calc(100% - 280px);
	padding-right: 30px;
}
.mall1-main-right {
	float: left;
	width: 280px;
}
.section {
	margin-bottom: 40px;
}
.ftg-holder {
	margin-bottom: 15px;
}
.ftg-holder::after {
    content: "";
    clear: both;
    display: table;
}
.ftg-datum {
	float: left;
	padding-right: 10px;
	text-align: right;
	width: 20%;
	display: inline-block;
}
.ftg-beskrivning {
	float: left;
	width: 100%;
	display: inline-block;
}
.skola-beskrivning {
	float: left;
	width: 80%;
	display: inline-block;
}
.contact-head {
	margin-top: 10px;
}
.links-holder {
	margin-bottom: -10px;
	margin-top: 5px;
	display: block;
}
.holder-bottom-segment {
	overflow: auto;
}
.projekt-holder-right {
	float: left;
	width: calc(100% - 350px);
}
.kunskaper-holder-left {
	float: left;
	width: 350px;
	padding-right: 15px;
}
.kompetens-holder {
	overflow: auto;
}
.kompetens-holder-right {
	float: left;
	width: 140px;
}
.kompetens-holder-left {
	float: left;
	width: calc(100% - 140px);
}
/* BILDEN */

.cvm-avatar img{
	max-width: 100%;
}


.contactline span {
	color: white;
	font-size: 14px;
	padding-right: 20px;
}
.contactline {
	background-color: #43526E;
	padding: 7px;
	text-align: center;
	border-bottom: solid 4px #43526E;
}
.contactline i {
	color: white;
	font-size: 13px;
	padding-right: 2px;
	font-weight: 700;
	font-style: normal;
}

.kunskapscol {
	padding-left: 0px;
}
.socialimages{
	text-align: right;
}

.social {
	font-size: 20px !important;
	padding: 0px 5px 15px 0px;
	color: #43526E;
}
.small {
	font-size: 15px !important;
	padding-right: 10px;
}


.contentwrapp {
	padding-left: 37px;
}

.contactbox {
	background-color: #f3f3f3 !important;
	border: solid 1px #43526E;
	padding: 15px;

}
.sprakokunskap-box {
	margin-top: 20px;
	background-color: #f3f3f3;
	border: solid 1px #43526E;
	padding: 15px;

}

.contactbox h4 {
	margin-bottom: 10px;
}



.education-skills {
	overflow: hidden;
}

.heading {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;/* OLD - Firefox 19- (buggy but mostly works)*/
	display: -ms-flexbox;/* TWEENER - IE 10 */
	display: -webkit-flex;/* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	border-bottom: 2px solid #43526E;
	margin-bottom: 15px;
}
.box {
	background:#43526E;
    float: left;
    width: 30px;
    margin-right: 10px;
    display: inline-block;
    padding-top:10px;
}
.heading-text-box {
    display: inline-block;
	float: left;
	width: 100%;
	padding-right: 35px;
}

.heading-textsize {
	font-size: 20px;
	display: block;
	padding-bottom: 5px;
}

.namn {
	font-size: 17px;
	display: inline-block;
	margin-bottom: 3px;
	font-weight: 400;
}
.titel {
	font-size: 17px;
	color: #616161 !important;
	display: inline;
	margin-bottom: 3px;
	font-style: italic;
}
.text {
	font-size: 15px;
	display: block;
}
.titel-block {
	font-size: 17px;
	color: #616161 !important;
	display: block;
	margin-bottom: 0px;
	font-style: italic;
}

.kunskap-box {
	padding-left: 0px;
}
.kunskaptitel {
	display: block;
	margin-bottom: 5px;
}
.text-kunskap {
	display: block;
	font-size: 17px;
	margin-bottom: 10px;
	font-weight: 400 !important;
}
.block {
	margin-top: 15px;
}


.utbildning {
	margin-bottom: 15px;
}

#circle{
	display: inline-block;
	margin-right: 4px;
	margin-left: 4px;
    width: 15.5px;
    height: 15.5px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #43526E;
}
#circle-nofill{
	display: inline-block;
	margin-right: 4px;
	margin-left: 4px;
    width: 15.5px;
    height: 15.5px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #eaf5ef !important;
}

.ringfylld {
	color: #43526E;
	padding: 4px;
}
.ringofylld {
	color: #eaf5ef;
	padding: 4px;
}
.projektwrapp {
	margin-top: 15px;
}
.datum-visible-xs {
	display: none;
}
.bild-boxen-smalldevice {
display: none;
}
.reference-right {
	float: left;
	width: 350px;
	text-align: right;
	overflow: hidden;
}
.reference-left {
	float: left;
	width: calc(100% - 350px);
}
@media (max-width: 767px) {
.no-pjs-render .reference-left {
	width: 100%;
}
.no-pjs-render .reference-right {
	display: none;
}
.no-pjs-render .datum {
	text-align: right;
	font-size: 13px;
	font-weight: 400;
}
.no-pjs-render .ringfylld {
	font-size: 15px;
	color: #43526E;

}
.no-pjs-render .ringofylld {
		font-size: 15px;
	color: #eaf5ef;

}
.no-pjs-render .bild-boxen-smalldevice {
display: inherit;
}
.no-pjs-render .bild-boxen-smalldevice img{
	max-width: 200px;
}
.no-pjs-render .mall1-main-left {
	width: 100%;
	padding-right: 0px;
}
.no-pjs-render .mall1-main-right {
	width: 100%;
}
.no-pjs-render .ftg-datum {
	padding-right: 0px;
	width: 100%;
}
.no-pjs-render .datum-hidden-xs {
	display: none;
}
.no-pjs-render .datum-visible-xs {
	display: inline;
}
.no-pjs-render .ftg-beskrivning {
	padding-left: 0px;
	width: 100%;
}
.no-pjs-render .skola-beskrivning {
	width: 100%;
}
.no-pjs-render .contentwrapp {
	padding-left: 15px;
	padding-right: 15px;
}
.no-pjs-render .projekt-holder-right {
	width: 100%;
}
.no-pjs-render .kunskaper-holder-left {
	width: 100%;
}
.no-pjs-render .kompetens-holder-right {
	text-align: right;
	width: 40%;
}
.no-pjs-render .kompetens-holder-left {
	width: 60%;
}
.no-pjs-render .mall1-holder {
	padding-left: 0px;
	padding-right: 0px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.no-pjs-render .datum {
		text-align: right;
		font-size: 13px;
		font-weight: 400;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.no-pjs-render .datum {
		text-align: right;
		font-size: 15px;
		font-weight: 400;
	}
}

@media (min-width: 1200px) {
	.no-pjs-render .datum {
		text-align: right;
		font-size: 15px;
		font-weight: 400;
	}
}

.pjs-render .mall1-main-section-holder {
	overflow: hidden;
}

.pjs-render .mall1-holder {
	border: none !important;
	margin-bottom: 0px;
}

@media print {
	.mall1-main-section-holder {
		overflow: hidden;
	}

	a[href]:after {
		content: none !important;
	}

	body {
		background-color: white !important;
	}
	.not-upgraded-text {
		position:absolute;
		left: 50%;
		width: 1000px;
		margin-left: -500px;
		margin-top: 30%;
		transform:rotate(300deg);
		-webkit-transform:rotate(300deg);
		background: black !important;
		color: white !important;
		font-size: 50px;
		display: block;
		text-align: center;
	}

	.mall1-holder {
		border: none !important;
		margin-bottom: 0px;
	}
}
